.item {
list-style-type: none;
border-bottom: #bbbbbb solid;
border-width: thin;
cursor: pointer;
width: 100%;
}
.active, .item:hover {
  background-color: #FFFFFF;
}
ul {
margin-left: 0;
padding-left: 0;
}
.span-from-price{
    color: gray;
    font-weight: 500;
}

.tab {
  overflow: hidden;
  border-bottom: 0.02em solid #CACED5;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: #4f4e4e;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #FFFFFF;
  border-bottom: 3px solid orange;
  z-index: 1;

}

/* Style the tab content */
.tabcontent-collapsed {
  display: none;
  padding: 6px 12px;
}

.tabcontent-expanded {
  padding: 6px 12px;
}

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a{
  background-color: #47ccde ;
  border-color: #47ccde ;
  color: #fff;
}
.pagination > li > a{
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: rgb(75, 167, 254) ;
  border-color: rgb(75, 167, 254);
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color: rgb(75, 167, 254);
  border: 1px solid #D7E5EB;
  border-radius: 10px;
  margin-right: 0.3rem;
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border: 1px solid #D7E5EB;
}

.pagination > li > a:hover {
  background-color: #D7E5EB;
}
