.app-main_active{
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    top: 4rem;
    bottom: 0;
    padding: 0;

}
.app-main{
    opacity: 0.2;
    z-index: 0;
    background-color: rgba(210, 210, 210, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    top: 4rem;
    bottom: 0;
    padding: 0;
}
.app-header{
    height: 4rem;
    padding: 0;
}
.app-footer{
    align-items: flex-end;
    padding: 0;
    height: 3rem;
    text-align: center;
}