# Compiled files
*.tfstate
*.tfstate.*

# logs
*.log

# Terraform directories
**/.terraform/*

backend.tf

# SSH Keys
*.pem

# Backup files
*.bak

# Ignore overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore Mac .DS_Store files
.DS_Store

# Ignored vscode files
.vscode/

# Ignore generated JSON files
key.json

*.auto.tfvars
